@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 blurred-box rounded text-center ">Welcome To BookToFly</h1>
</div>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5 class="card-title">Search Flights Available</h5>
                <p class="card-text">You can View the list of Flights.</p>
                <a asp-controller="Flight" asp-action="SearchFlights" class="btn btn-primary">Go to SearchFlight</a>
            </div>
        </div>
    </div>
</div>


