@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 blurred-box rounded text-center ">Welcome To BookToFly</h1>
</div>
@* <div class="container mt-5">
    <div class="row">
        <!-- Flight Search -->
        <div>
            <div class="card shadow-sm p-4 bg-secondary  mx-auto">
                <h4 class="text-center">Search Flights</h4>
                <form method="get" asp-action="SearchFlights">
                    <div class="mb-3">
                        <label for="flightNumber" class="form-label ">Flight Number:</label>
                        <input type="text" id="flightNumber" name="FlightNumber" class="form-control"
                            placeholder="Enter Flight Number" />
                    </div>
                    <h6 class="text-center">(OR)</h6>
                    <div class="mb-3">
                        <label for="fromPlace" class="form-label">From:</label>
                        <input type="text" id="fromPlace" name="FromPlace" class="form-control"
                            placeholder="Enter Departure City" required />
                    </div>
                    <div class="mb-3">
                        <label for="toPlace" class="form-label">To:</label>
                        <input type="text" id="toPlace" name="ToPlace" class="form-control"
                            placeholder="Enter Destination City" required />
                    </div>
                    <button type="submit" class="btn btn-primary d-block mx-auto">Search Flights</button>
                </form>
            </div>
        </div>
    </div>
</div> *@

@await Html.PartialAsync("_FlightSearch")
