<!-- Contact Customer Care Section -->
@* <div class="mt-5">
        <h4>Contact Customer Care</h4>
        <form method="post" asp-action="ContactCustomerCare" asp-controller="User">
            <div class="mb-3">
                <label for="subject" class="form-label">Subject:</label>
                <input type="text" id="subject" name="Subject" class="form-control" placeholder="Enter subject" required />
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message:</label>
                <textarea id="message" name="Message" class="form-control" placeholder="Enter your message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</div> *@
<div class="" id="flightTypeModal" tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-dark text-light">
                <h5 class="modal-title" id="flightTypeModalLabel"><i class="bi bi-funnel-fill me-2"></i>Select
                    Flight
                    Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="flightTypeForm" asp-controller="Flight" asp-action="GetFlightsByType" method="post">
                    <div class="mb-3">
                        <label for="flightType" class="form-label">Flight Type</label>
                        <select class="form-select" id="flightType" name="FlightType" required>
                            <option value="" selected disabled>Select an option</option>
                            <option value="International">International</option>
                            <option value="Domestic">Domestic</option>
                        </select>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-success"><i
                                class="bi bi-check-circle me-2"></i>Select</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>